.featured-content-delete {
    cursor: pointer;
    
    text-align: center;
}

.featured-content-delete span {
    background-image: url(../../images/sprite-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 22px;
    vertical-align: middle;
    background-position: -202px -178px;
}

#manage-images .partner-gallery{
	margin: 0px 15px;
    padding: 5px 20px;
    min-height: 100px;
}

.wrapper{
	position: relative;
}

#multipleupload .ajax-file-upload{
    background-color: #92c139;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    text-transform: none;
    border-radius: 4px 4px 4px 4px;
    margin-left: 0px !important;
    margin-right: 8px !important;
    margin-top: 0px !important;
    height: 44px;
    line-height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    color: #fff;
    box-shadow: none;
}